layoutXLM_checkpoint/
layoutXLM_checkpoint/**

layoutXLM_ordered_checkpoint/
layoutXLM_ordered_checkpoint/**

mcrnn_weights/
mcrnn_weights/**

some_examples/
some_examples/**

yolov5_text_weights/
yolov5_text_weights/**

yolov5/
yolov5/**

yolov8-obb_checkpoint/
yolov8-obb_checkpoint/**

docs/
docs/**

.idea/
.idea/**

__pycache__/
__pycache__/**